@import url(components/checkbox.css);
@import url(components/box.css);
@import url(components/step1.css);
@import url(components/step2.css);
@import url(components/step3.css);
@import url(components/step4.css);
@import url(components/step5.css);
@import url(components/nav-step.css);
@import url(reset.css);

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}

:root{
--Marine-blue: hsl(213, 96%, 18%);
--Purplish-blue: hsl(243, 100%, 62%);
--Pastel-blue: hsl(228, 100%, 84%);
--Light-blue: hsl(206, 94%, 87%);
--Strawberry-red: hsl(354, 84%, 57%);
--Cool-gray: hsl(231, 11%, 63%);
--Light-gray: hsl(229, 24%, 87%);
--Magnolia: hsl(217, 100%, 97%);
--Alabaster: hsl(231, 100%, 99%);
--White: hsl(0, 0%, 100%);
--Bold: 'Ubuntu-Bold';
--Regular: 'Ubuntu-Regular';
--Medium: 'Ubuntu-Medium';

}

body, html{
    width: 100%;
    height: 100%;
}
body{
    background-color: var(--Magnolia);
    font-family: var(--Regular);
    box-sizing: border-box;
}  
.hidden{
    display: none;
}
.cont-centro{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.cont-main{
    border-radius: 10px;
    width: 320px;
    background-color: var(--White);
    padding: 20px 20px;
    margin: -75px auto 0 auto;
}
.cont-absolute{
    height: 200px;
}
.step4, .step3, .step2, .step5{
    display: none;
}
.button-next{
    position: absolute;
    right: 0;
    margin: 22px;
    bottom: 0;
    padding: 15px 22.5px;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    background-color: var(--Marine-blue);
    color: var(--White);
    cursor: pointer;
}

.button-back{
    right: 0;
    margin: 22px;
    bottom: 0;
    font-size: 18px;
    color: var(--Cool-gray);
    cursor: pointer;
}
.confirm{
    background-color: var(--Purplish-blue);
}
.cont-buttons{
    display: flex;
    align-items: center;
    background-color: var(--White);
    left: 0;
    height: 40px;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 95px;
}
.hidden{
    display: none;
}
@media screen and (min-width: 1024px) {
    .step1,.step2, .step3, .step4, .step5{
        padding: 0 80px;
        width: 500px;
        position: relative;
    }
    .cont-main{
        width: 320px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }
    .container-desktop{
        border-radius: 10px;
        background-color: var(--White);
        padding: 20px 20px;
        display: flex;
    }
    .cont-centro{
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .cont-buttons{
        left: 80px;
        width: 500px;
        position: absolute;
    }
    .button-next{
        margin: 0 0 22px 0;
    }
}