.imagem-plano{
    padding: 18px;
    width: 50px;    
}
.plano-desconto{
    color: var(--Marine-blue);
    margin: 10px 0 20px 0 ;
    font-size: 14px;
    display: block;
}
.plano-active{
    background-color: var(--Magnolia);
    border: 1px solid var(--Purplish-blue);
}
.checkbox-plan{
    display: none;
}
@media screen and (min-width:1024px) {
    .cont-box-desktop{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .plan-box{
        width: 152px;
        height: auto;
        padding-bottom: 10px;
        flex-direction: column;
    }
    .flex-box-desktop{
        display: flex;
        padding-left: 18px;
        flex-direction: column;
    }
}