.titulo-main{
    color: var(--Marine-blue);
    font-family: var(--Bold);
    font-size: 28px;
    margin: 20px 0 17.5px 0 ;
}
.desc-titulo{
    color: var(--Cool-gray);
    width: 85%;
    margin-bottom: 20px;
    line-height: 26px;
    font-size: 18px;
    font-weight: 500;
}
.titulo-step-1{
    font-size: 16px;
    color: var(--Marine-blue);
    margin-bottom: 4px;
}
.input-step-1{
    width: 91%;
    padding: 15px;
    border-radius: 4px;
    border: 0.2px solid var(--Cool-gray);
    margin-bottom: 20px;
    opacity: 70%;
}
.input-step-1::placeholder{
    color: var(--Cool-gray);
    font-size: 16px;
    font-family: var(--Medium);
}
.cont-input{
    display: flex;
    justify-content: space-between;
}
.active-input-text{
    border: 0.2px solid var(--Purplish-blue);
}
.mensagem-erro{
    color: var(--Strawberry-red);
    font-size: 14px;
    font-family: var(--Bold);
}
input{
    /* Desativa o estilo padrão do blur */
    outline: none;
    box-shadow: none;
    /* Adicione outros estilos personalizados conforme necessário */
}

@media screen and (min-width: 1024px){
    .desc-titulo{
        width: 100%;
        margin-bottom: 40px;
    }
    .input-step-1{
        width: 94%;
    }
}